import React from 'react';
import PropTypes from 'prop-types';
import classNames from 'classnames';
import { childrenProp } from '../../types/types';
import styles from './{{dashCase componentName}}.module.scss';

function {{pascalCase componentName}}({ className, children }) {
  return (
    <div className={classNames(className, styles['{{dashCase componentName}}'])}>
      {children}
    </div>
  );
}

{{pascalCase componentName}}.propTypes = {
  className: PropTypes.string.isRequired,
  children: childrenProp,
};

{{pascalCase componentName}}.defaultProps = {
  className: '',
};

export default {{pascalCase componentName}};
